<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146612317237-a345g671nieusn7ob28fd9ve7si26ng8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146612317237-a345g671nieusn7ob28fd9ve7si26ng8</string>
	<key>API_KEY</key>
	<string>AIzaSyCXBbpJC8EvNtfWVXMkDG-SsJZmxVm4gn0</string>
	<key>GCM_SENDER_ID</key>
	<string>146612317237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xrdaTaskMobile</string>
	<key>PROJECT_ID</key>
	<string>xrda-932c8</string>
	<key>STORAGE_BUCKET</key>
	<string>xrda-932c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146612317237:ios:a1889f2ba15faf16b3557c</string>
</dict>
</plist>